*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color:#cbb496;
    justify-content: space-around;
    align-items: center ;
    img{
        width: 12%;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 60vw;
        font-size: 30px;
    }
}
